# introduction-to-flask
.DS_Store
introduction-to-flask/.venv
introduction-to-flask/.env
introduction-to-flask/apps/minimalapp/__pycache__

# pytorch
pytorch/pytorch-tutorial/Quickstart/data

# azure app service
azure/app-service/.venv