__pycache__/
.venv/
.vscode/
*.pyc
*.pyo
*.pyd
*.log
*.lock
*.toml

# introduction-to-flask
.DS_Store
introduction-to-flask/.venv
introduction-to-flask/.env
introduction-to-flask/apps/minimalapp/__pycache__

# pytorch
pytorch/pytorch-tutorial/Quickstart/data

# azure app service

# azureml
azure/azureml/config.json
azure/azureml/iris-notebook.ipynb
azure/azureml/submit-training-job/iris

# tensorflow

# streamlit

# 独習Python_サンプルコード
独習Python_サンプルコード